<mat-toolbar class="px-2" color="primary">
  @if(page() === 'login' || page() === 'cadastro') {
  <button matMiniFab style="visibility: hidden">
    <mat-icon>menu</mat-icon>
  </button>
  } @else {
  <button matMiniFab (click)="toggleMenu()">
    <mat-icon>menu</mat-icon>
  </button>
  }

  <span class="flex-fill text-center">
    {{ titulo.toUpperCase() }}
  </span>

  @if(carregando() && page() !== 'tabela') {
    <mat-spinner diameter="40" color="primary"></mat-spinner>
  } @else {
<button matMiniFab style="visibility: hidden">
    <mat-icon>logout</mat-icon>
  </button>
  }
</mat-toolbar>
